.legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-size: 14px;
  }
  
  .legend h4 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  
  .legend div {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .legend i {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
  }
  